@font-face {
    font-family: PoppinsBlack;
    src: url(./Poppins-Black.ttf);
}

@font-face {
    font-family: PoppinsSemibold;
    src: url(./Poppins-SemiBold.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(./Poppins-Regular.ttf);
}